@font-face {
  font-family: 'Varino';
  src: url('../assets/fonts/Varino.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  max-width: 1500px;
  margin: auto;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color:white;
  padding: 0;
  box-sizing: border-box;
  max-width: 90%;
  margin: 0 auto;
  font-size: 1.8rem;     
}

@media (max-width:1500px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width:1250px) {
  html {
    font-size: 50%;
  }
}

@media (max-width:1050px) {
  html {
    font-size: 43%;
  }
}

@media (max-width:920px) {
  html {
    font-size: 35%;
  }
}


@media (max-width:720px) {
  html {
    font-size: 35%;
  }
  .nav-left, .nav-right {
    display: none !important;
    flex: 0 !important;
  }
  .menuIconBox {
    display: flex !important;
    margin-right:5rem ;
  }
  .hero{
    height: 85rem !important;

  }
  .hero-txt {
    font-size: 2.5rem !important;
    top: 10% !important;
  }
  .hero-img-right {
    width: 110rem !important;
    transform: translate(-22%, 25%) !important;
  }
  .hero-img-left {
    width: 110rem !important;
    transform: translate(30%, 28%) !important;
  }
  .about {
    flex-direction: column;
    height: 128rem !important;
  }
  .about-txt {
    text-align: center;
    flex: 1 !important;
  }
  .about-txt p {
    margin: 4rem 0 !important;
  }
  .about-image {
    flex: 2.5 !important;
  }
  .about-img-container {
    width: 65rem !important;
    height: 50rem !important;
  }
  .bikes {
    height: 110rem !important;
  }
  .bikes-container {
    flex-direction: column !important;
    align-items: center !important;
  }
  .bikes-hybrid, .bikes-electric {
    height: 40rem !important;
    width: 60rem !important;
    margin: 1rem 0rem !important;
    flex: none !important;
  }
  .build-details-txt {
    margin-right: 0rem !important;
  }
  .build-details-divider {
    display: none !important;
  }
  .build-btn-container {
    display: flex;
    justify-content: center;
  }
  .reviews {
    height: 100rem !important;
    flex-direction: column !important;
  }
  .reviews-txt {
    padding: 2rem 8rem !important;
    text-align: center !important;
    flex: 0.7 !important;
  }
   .partners {
    margin: 2rem 0 !important;
    height: 6rem !important;
    padding: 0.5 !important;
  }
  .partners-txt {
    font-size: 1.8rem !important;
    padding: 1.5rem 0 !important;
    flex:1 !important;
  }
  .partners-container {
    padding: 0 !important;
    flex: 2!important;
  }
  .partners-logos {
    padding: 1 !important;
    gap: 1rem !important;
  }
  .partners-logo {
    height: 3rem !important;
    max-width: 10rem !important;
  }
  .parts-acc-merch {
    height: 160rem !important;
  }
  .parts-acc-merch-txt {
  
    padding: 2rem 5rem !important;
  }
  .parts-acc-merch-container {
    flex-direction: column !important;
    align-items: center !important;
  }
  .parts-item {
    height: 35rem !important;
    width: 50rem !important;
    margin: 1rem 0rem !important;
    flex: none !important;
  }
  .community {
    height: 100rem !important;
  }
  .community-container {
    flex-direction: column !important;
    height: 90rem !important;
  }
  .community-txt {
    text-align: center !important;
    flex: 0 !important;
    padding: 0 !important;
  }
  .community-image{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .community-img {
    width: 50rem !important;
  }
  .faq {
    flex-direction: column !important;
  }
  .faq-txt {
    padding: 2rem 3rem !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    flex: 0 !important;
    height: 80rem !important;

  }
  .faq-image-container {
    height: 40rem !important;
    width: 50rem !important;
    margin-top: 5rem !important;
  }
  .faq-container {
    height: 80rem !important;
    width: 60rem !important;
    margin: 0 auto !important;
  }
  .contact-txt {
    padding-top: 3rem !important;
  }
  .contact-container {
    height:110rem !important;
    width: 100% !important;
    margin: 0 auto !important;
  }
  .contact-item {
    height: 100rem !important;
    flex-direction: column !important;
  }
  .contact-form-email {
    max-width: 60rem !important;
  }
 
  footer {
    flex-direction: column !important;
    padding: 2rem 0 !important;
  }
}

header {
  display: flex;
  padding:0;
  margin: 0 10rem;
}

.nav-left,
.nav-right {
  flex:1;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

a {
  text-decoration: none; 
  color: inherit;
}

.logo {
 flex: 1.5;
 display: flex;
justify-content: center;
align-items: center;
font-family: 'Varino';
color: #FF6B00;
}

.logo.active {
  justify-content: left;
}

.menuIconBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  display: none;
}

.menu.active {
  display: flex;
}

.menuIcon {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color:#dcdce4;
  z-index: 5;
  position: absolute;
  width: 90%;
  border-radius: 2rem;
  display: none;
  height: 40vh;
  justify-content: space-between;
  padding: 4rem;
  box-sizing: border-box;
}

.menu li {
  list-style: none;
  padding: 1rem 0;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.menu li:hover {
  background-color: #b4182d;
  color: #fff;
  padding: 1rem 2rem;
}

.hero {
  display: flex;
  height: 64rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 -0.4rem 0.4rem -0.2rem rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
}

.hero-left {
  flex: 3;
  z-index: 1;
  position: relative;
  clip-path: polygon(0 0, 50% 0, 85% 100%, 0% 100%);
  background-color: #dde4e6;
}

.hero-txt {
  text-align: center;
  position: absolute;
  z-index: 2;
  color: black;
  width: 100%;
  top: 20%;
  font-size: 2.5rem;
}
.hero-txt h1 {
  font-size: 5rem;
  margin: 0;
  line-height: 1.4;
  font-family: 'Varino';
}
.hero-right {
  flex: 1.5;
  background-color:	#FF4040;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%);
  position: relative;
  z-index: 1;
}

.hero-img-left{
  position: absolute;
  z-index:2; 
  width: 100rem;
  right: 57%;
}


.hero-img-right {
  position: absolute;
  left: 61%;
  z-index:2; 
  width: 100rem;
}

.hero-btn {
  font-size: 2.5rem;
  padding: 1.5rem 6rem;
  background-color: #FF4040;
  border: none;
  border-radius: 4rem;
  font-weight: bold;
  transition: transform 1s ease;
  margin-top: 2rem;
}

.hero-btn:hover {
  transform: scale(1.1);
  transition: transform 1s ease;
}

.about {
  display: flex;
  height: 80rem;
}

.about-txt {
  flex: 1 ;
  padding: 10rem 2rem;
}

.about-btn {
  font-size: 2rem;
  padding: 1.5rem 6rem;
  background-color: #FF4040;
  border: none;
  border-radius: 4rem;
  font-weight: bold;
  transition: transform 1s ease;
  margin-top: 2rem;
}

.about-btn:hover {
  color: white;
  transform: scale(1.1);
  transition: transform 1s ease;
}

.about-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-img-container {
  background-color: #FF4040;
  border-radius: 5rem;
  height: 60rem;
  width: 60rem;
}

.about-txt h2 {
  font-size: 4.4rem;
  margin:0;
  font-family: 'Varino';
}
.about-txt p {
  font-size: 2rem;
  line-height: 1.5;
  margin:4rem 10rem 4rem 0rem;
  color:black;  
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bikes {
  height: 80rem;
}

.bikes-txt {
  text-align: center;
}


.bikes-txt h2 {
  font-size: 3rem;
  margin: 0;
  line-height: 2;
  font-family: 'Varino';
}
.bikes-txt p {
  font-size: 2rem;
  line-height: 1.0;
  margin-top: 2rem;
  color:black;
}

.bikes-container {
  display: flex;
  margin-top: 8rem;
}

.bikes-hybrid {
  flex: 1;
  border-radius: 5rem;
  background-image: url('../assets/images/hybrid.avif');
  background-size: cover;
  background-position: center;
  height:45rem;
  color:white;
  padding: 5rem 5rem;
  margin: 1rem 2rem;
  box-sizing: border-box;
}

.bikes-hybrid h2 {
  font-size: 3.5rem;
  margin: 0;
  line-height: 2;
  font-family: 'Varino';
}
.bikes-electric {
  flex: 1;
  border-radius: 5rem;
  background-image: url('../assets/images/electric.avif');
  background-size: cover;
  background-position: center;
  height:45rem;
  box-sizing: border-box;
  color:white;
  padding: 5rem 5rem;
  margin: 1rem 2rem;
}

.bikes-electric h2 {
  font-size: 3.5rem;
  margin: 0;
  line-height: 2;
  font-family: 'Varino';
}

.bikes-container p {
  margin-right: 15rem;
}

.btn-hybrid{
  bottom: -5rem;
  position: relative;
}

.btn-electric{
  bottom: -5rem;
  position: relative;
}

.bikes-btn {
  font-size: 2rem;
  padding: 1rem 3.5rem;
  border: white solid 0.2rem;
  color: white;
  border-radius: 4rem;
  font-weight: bold;
  transition: trancsform 1s ease;
  background: none;
  margin-top: 1rem;
  transition: transform 1s ease;
}

.bikes-btn:hover {
  transform: scale(1.1);
  transition: transform 1s ease;
}

.build-details {
  margin-top: 6rem; 
  display: flex;
  height: 38rem;
  padding: 2rem;
  background-image: url('../assets/images/build.jpg');
  background-size: cover;
  border-radius: 5rem;
}

.build-details-txt {
  flex: 1;
  padding: 2rem;
  background-color:#dde3e1;
  opacity: 0.8;
  border-radius: 5rem;
  margin-right: 4rem;
}
.build-details-divider {
  flex: 1;
}

.build-details-txt h1 {
  font-size: 3rem;
  margin: 0;
  line-height: 2;
  font-family: 'Varino';
  color:#FF6B00;
} 

.build-btn {
  font-size: 2rem;
  padding: 1rem 6rem;
  border: #FF6B00 solid 0.2rem;
  color: #FF6B00;
  border-radius: 4rem;
  font-weight: bold;
  transition: transform 1s ease;
  background: none;
}

.build-btn:hover {
  color: white;
  background-color: #FF6B00;
  transform: scale(1.1);
  transition: transform 1s ease;
}

.reviews {
  display: flex;
  margin-top: 6rem;
  height: 50rem;
  align-items: center;
}

.reviews-txt {
  flex: 1;
  padding: 1rem;
  
}

.reviews-txt h2 {
  font-size: 4.5rem;
  margin: 0;
  line-height: 1.5;
  font-family: 'Varino';
}

.reviews-divider {
  margin: 4rem 0rem;
}

.reviews-btn {
  background-color:#dde3e1;
  border: none;
  padding: 1rem 1.4rem;
  border-radius: 3.2rem;
  margin: 0.5rem 1rem;
}
.reviews-icons {
  width: 3rem;
}
.reviews-btn:hover {
  background-color: #FF6B00;
  color: white;
  transition: background-color 0.3s ease;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

.reviews-container {
  flex: 1;
  overflow: hidden;
  margin-top: 5rem;
}

.reviews-view {
  display: flex;
  height: 38rem;
  width: 65rem;
}

.reviews-client-E {
  border-radius: 5rem;
  background-image: url('../assets/images/reviews-E.jpg');
  background-size: cover;
  height: 38rem;
  width:38rem;
  margin-left:2rem ;
  margin-right: 2rem;
  transition:transform 0.8s cubic-bezier(0.4, 0.0, 0.2, 1); 
}


.reviews-client-H {
  border-radius: 5rem;
  background-image: url('../assets/images/reviews-H.jpeg');
  background-size: cover;
  height: 38rem;
  width:38rem;
  margin-left: 2rem;
  margin-right: 2rem;
  transition:transform 0.8s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.reviews-client-container {
  background-color: #dde3e1;
  opacity: 0.6;
  border-radius: 5rem;
  height: 38rem;
  width:38rem;
}

.reviews-client-txt {
  padding: 3rem 2rem 2rem 2rem;
  color: black;
  line-height: 1.5;
  text-align: center;
}

.reviews-client-name {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  font-style: italic;
}

.partners {
  background-color: #dde4e6;
  border-radius: 5rem;
  padding: 2rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
  height: 11.5rem;
  display: flex;
}

.partners-txt {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Varino';
  flex: 1.5;
  z-index: 0;
  padding: 4rem 0;
}

.partners-container {
  padding: 2rem;
  overflow: hidden;
  z-index: 0;
  flex: 4;

  
}
.partners-logos {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 1.5rem;
  animation: marquee-scroll 20s linear infinite;

}

.partners-logo {
  height: 5rem;
  max-width: 15rem;
  transition: filter 0.3s ease;
}

.partners-logos:hover {
  animation-play-state: paused;
}

.partners-logo:hover {
  transform: scale(1.1);
  transition: filter 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.parts-acc-merch {
  height: 80rem;
}

.parts-acc-merch-txt {
  text-align: center;
  padding: 2rem 20rem;
}
.parts-acc-merch-txt h1 {
  font-size: 3.5rem;
  font-family: 'Varino';
  padding: 0;
  line-height: 1;
}

.parts-acc-merch-container {
  display: flex;
  padding: 2rem 7rem;
  margin-top: 2rem;
  gap: 4rem;
}

.parts {
  flex: 1;
  border-radius: 5rem;
  background-color: #dde3e1;
  height:38rem;
  padding: 1rem 2rem;
  margin: 1rem 2rem;
  color:black;
  transition: background-image 1s ease; 
}

.parts-item h2 {
  font-size: 2.5rem;
  margin: 0;
  line-height: 2;
  font-family: 'Varino';
}


.parts-item {
  text-align: center;
  flex: 1;
  border-radius: 5rem;
  background-color: #dde3e1;
  height:40rem;
  padding: 5rem 4rem;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.parts-item:hover {
  transform: translateY(-1rem);
  transition: transform 0.3s ease;
}

.parts-btns {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}
.parts-btn {
  font-size: 2rem;
  padding: 1rem 5rem;
  border: none;
  border-radius: 4rem;
  font-weight: bold;
  transition: trancsform 1s ease;
  background-color: #FF6B00;
  color: white;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

.parts-btn:hover {
  transform: scale(1.1);
  transition: transform 1s ease;
}


.community {
  height: 62rem;
  padding: 5rem 2rem;
  overflow: hidden;
}

.community-container {
  background-color: #6ca9bb;
  height: 55rem;
  border-radius: 5rem;
  background-size: cover;
  background-position:left;
  margin-top: 5rem;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
}
 
.community-txt {
  flex: 1;
  font-size: 2.2rem;
  color: black;
  transition: color 0.3s ease;
  line-height: 0.6;
  padding: 4rem;
}

.community-txt h2 {
  font-size: 4rem;
  margin-top: 3rem;
  font-family: 'Varino';
  line-height: 0.7;
}

.community-divider {
  margin: 6rem 0;
}


.community-btn {
  font-size: 2rem;
  padding: 1rem 6rem;
  border: black solid 0.2rem;
  border-radius: 4rem;
  font-weight: bold;
  transition: transform 1s ease;
  background: none;
  margin-top: 4rem;
}

.community-btn:hover {
  transform: scale(1.1);
  transition: transform 1s ease;
}

.community-image{
  flex: 1;
}

.community-img {
  width: 53rem;
  translate: 10% 20% ;
}


.faq {
  display: flex;
}

.faq-txt {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.faq-txt p {
  line-height: 0;
  font-size: 2.2rem;
}

.faq-txt h2 {
  font-size: 4.5rem;
  margin: 0;
  line-height: 1.4;
  font-family: 'Varino';
  color: #FF6B00;
}

.faq-divider {
  margin: 5rem 0;
}

.faq-container {
  flex: 1;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  margin-top: 18rem;
}

.faq-image-container {
  background-color: #FF4040;
  border-radius: 5rem;
  height: 50rem;
  margin-top: 5rem;
  width: 52rem;
}

.faq-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 25% center ;
}

.faq-item {
  display: flex;
  flex-direction: column;
}

.faq-quizes {
  width: 100%;
  border-radius: 2rem 2rem 2rem 2rem;
  background-color: #dde3e1;
  padding: 2rem;
  border: none;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  font-weight: 700;
  transition: translate 0.3s ease;
  margin: 0;
}

.faq-quizes:hover:not(.active) {
  transform: translate(0, -1rem); ;
  transition: translate 0.3s ease;
  
}

.faq-btn {
  background-color:#c1c5c59a;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 3.5rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.faq-btn:hover {
  transition: background-color 0.3s ease;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

.faq-answers {
  display: none;
  padding: 2rem;
  background-color:#dde3e1;
  border-radius: 2rem;
  font-size: 1.8rem;
  line-height: 1.5;
  border-radius: 0rem 0rem 2rem 2rem;
}

.contact-txt {
  text-align: center;
  padding-top: 10rem;
}

.contact-txt h2 {
  font-size: 4rem;
  margin: 0;
  line-height: 2;
  font-family: 'Varino';
}

.contact-container {
  height: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-item {
  display: flex;
  height: 57rem;
  padding:2rem;
  border-radius: 5rem;
  background-color: #dde3e1;
}

.contact-us {
  flex: 1;
  padding: 2rem;
  margin-right: 4rem;
  line-height: 2.0;
}

.contact-us h2 {
  font-size: 3rem;;
  line-height: 2;
  font-family: 'Varino';
}

.contact-us-txt {
  font-size: 2.5rem;
  font-weight: bold;
}

.contact-us-icons {
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
}

.contact-us-icon {
  width: 4.2rem;
  transition: transform 0.3s ease;
  flex: 1;
}

.contact-us-icon:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.contact-form {
  flex: 1;
  padding: 2rem;
  margin-right: 4rem;
}

.contact-form h2 {
  font-size: 3rem;
  line-height: 2;
  font-family: 'Varino';
  padding: 0rem 3rem;
}

.contact-form-email {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  background-color:white;
  border-radius: 5rem;
  height: 32rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  font-size: 2.2rem;
}

#email {
  width: 100%;
  border: none;
  border-bottom: #1b1919 solid 0.2rem;
  font-size: 2rem;
}

#email:focus {
  outline: none;
  transform: scale(1.05);
}

#message {
  width: 100%;
  border: none;
  border-bottom: #1b1919 solid 0.2rem;
  font-size: 2rem;
  resize: none;
}

#message:focus {
  outline: none;
  transform: scale(1.05);
}

.contact-form-btn {
  border-radius: 3rem;
  font-size: 2rem;
  border: none;
  padding: 1.5rem ;
  margin-top: 4rem;
  background-color:#dde3e1;
  font-weight: bold;
}

.contact-form-btn:hover {
  background-color: #FF6B00;
  color: white;
  transition: background-color 0.3s ease;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

footer {
  display: flex;
  padding:5rem 0rem;
  gap: 4rem;
}

.footer-txt {
  flex: 1;
  padding: 2rem;
  border-radius: 5rem;
  background-color:#dde3e1;
}

.footer-txt h1 {
  font-size: 4rem;
  line-height: 2;
  font-family: 'Varino';
  color: #FF6B00;
  padding-left: 3rem;
}

.footer-links {
  display: flex;
  padding-left: 3rem;
}

.footer-links li {
  list-style: none;
  padding: 1rem 0;
}

.footer-links a {
  transition: color 0.3s ease;
}
.footer-links a:hover {
  color: #FF6B00;
  transition: color 0.3s ease;
}

.footer-list{
  flex: 1;
  text-align:left;
}
.footer-txt p {
  opacity: 0.7;
  padding-left: 3rem;
}

.footer-action {
  flex: 1;
  padding: 4rem;
  background-image: url('../assets/images/footer.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 5rem;
}

.footer-action h2 {
  font-size: 4rem;
  line-height: 1;
  font-family: 'Varino';
  color:#FF6B00
}


.footer-action-btn {
  display: flex;
  margin-top: 8rem;
  justify-content: center;
}
.footer-btn {
  flex: 1;
  font-size: 2rem;
  padding: 1.5rem;
  border: #FF6B00 solid 0.2rem;
  color: #FF6B00;
  border-radius: 4rem;
  font-weight: bold;
  transition: transform 1s ease;
  background: none;
}

.footer-btn:hover {
  transform: scale(1.1);
  transition: transform 1s ease;
  color: white;
  background-color: #FF6B00;
}

.toast {
  visibility: hidden;
  min-width: 25rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 0.8rem;
  padding: 1.2rem 2rem;
  position: fixed;
  z-index: 999;
  bottom: 3rem;
  right: 3rem;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.toast.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}


